# {{ ansible_managed }}

# MongoDB collectd

<LoadPlugin python>
    Globals true
</LoadPlugin>

<Plugin python>
    ModulePath "/usr/lib/collectd/mongodb"
    Import "mongodb"
    <Module mongodb>
        User "{{ collectd_mongodb_monitoring_user }}"
        Password "{{ collectd_mongodb_monitoring_password }}"
        Host "127.0.0.1"
        Port "{{ mongodb_port }}"
    {% if collectd_mongodb_dblist is defined %}
        Database "admin" {% for db in collectd_mongodb_dblist %} "{{ db }}" {% endfor %}
    {% else %}
        Database "admin"
    {% endif %}
        # don't touch me
    </Module>
</Plugin>
